

.glitch {
  position: relative;
  animation: glitch-skew 2s infinite linear alternate-reverse;
}

@keyframes glitch-skew {
  0% {
    transform: skew(0deg);
  }
  5% {
    transform: skew(0deg);
  }
  8% {
    transform: skew(0deg);
  }
  9% {
    transform: skew(-3deg);
    filter: hue-rotate(225deg);
  }
  10% {
    transform: skew(-3deg);
    filter: hue-rotate(225deg);
  }
  11% {
    transform: skew(-3deg);
    filter: hue-rotate(90deg);
    opacity: 1;
  }
  12% {
    transform: skew(-1deg) rotate(10deg);
    opacity: 0.3;
    filter: hue-rotate(0deg);
  }
  13% {
    transform: skew(-1deg);
    opacity: 1;
  }
  20% {
    transform: skew(-1deg);
  }
  29% {
    transform: skew(0deg);
  }
  30% {
    transform: skew(0deg);
  }
  39% {
    transform: skew(0deg);
  }
  41% {
    transform: skew(-5deg);
  }
  42% {
    transform: skew(8deg) translateY(3px);
  }
  43% {
    transform: skew(0deg) translateY(0px);
  }
  49% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(0deg);
  }
  56% {
    transform: skew(10deg);
  }
  57% {
    transform: skew(0deg);
  }
  58% {
    transform: skew(20deg);
  }
  59% {
    transform: skew(8deg);
  }
  59.5% {
    transform: skew(8deg);
  }
  60% {
    transform: skew(0deg) translateY(30px);
    filter: grayscale(30%) hue-rotate(225deg);
  }
  61% {
    transform: skew(1deg);
    filter: hue-rotate(225deg);
  }
  62% {
    transform: skew(3deg) translateY(-30px);
    filter: grayscale(30%);
  }
  64% {
    transform: skew(30deg);
    filter: grayscale(30%);
  }
  65% {
    transform: skew(-1deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(-1deg);
  }
  90% {
    transform: skew(-1deg);
  }
  100% {
    transform: skew(-1deg);
  }
}